* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

._container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol,
li {
    list-style: none;
    display: inline-block;
}

body {
    color: white;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-height: 100vh;
    
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.logo {
    font-weight: 700;
}

nav ul li a {
    margin: 0 25px; 
    background: linear-gradient(to right, #168bff,#921ffd);
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    font-size: 1.55rem;
    font-weight: 700;
    transition: color .2s ease-in-out;
}

@media (max-width: 766px) {
    .bar, nav ul li a {
        font-size: 18px;
        margin-right: 10px;
    }
}

@media (max-width: 619px) {
    .bar, nav ul li a {
        font-size: 14px;
        margin-right: 0px;
    }
}

@media (max-width: 425px) {
    .bar, nav ul li a {
        font-size: 14px;
        margin-right: 50px;
    }
}

nav ul li a:hover {
    color:rgba(0,0,0,0);
}

.btn {
    padding: 10px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover {
    background-color: #00d0ff;
    background-image: linear-gradient(19deg, #00d0ff 0%, #B721FF 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

}

.main {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-top: 100px;
    margin-bottom: 250px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
}

.image {
    min-width: 50%;
    max-width: 100%;
}

.text {
    font-size: 22px;
    padding-top: 30px;
    text-align: justify;
}

#text-bold {
    font-weight: 700;
}

#buy {
    margin-top: 50px;
    font-weight: 800;
}

.btn-1{
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.btn-1:hover {
    background-color: #00d0ff;
    background-image: linear-gradient(19deg, #00d0ff 0%, #B721FF 100%);
    
}

#icon {
    transition: all .3s ease-in-out;
}

#icon:hover {
    transform: scale(1.1);
}

.im {
    justify-self: center;
}

.bttm-text {
   display: flex;
   align-items: center;
   width: 280px;
   
}

#icon {
    width: 75px;
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
  
}

@media (max-width: 884px) {
    .main {
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
        grid-gap: 2rem;
        margin-top: 150px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 16px;
    }

    #buy {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .bttm-text h3 {
        font-size: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    #icon {
        width: 62px;
        margin-bottom: 20px;
    }
}
